<dialog id="create-sale-dialog" class="card" open th:fragment="create-sale-dialog" style="z-index: 15;">
    <form
            method="dialog"
            hx-post="/sales"
            hx-swap="none"
            style="padding: var(--wa-space-l); min-width: 360px;"
            hx-on:htmx:after:request=" this.closest('dialog').remove();
             showToast('The sale request was successfully registered', 'success');"

    >

        <h4>Create Sale</h4>

        <p>
            Product:
            <strong th:text="${product.title}">Product title</strong>
        </p>

        <input type="hidden" name="productId" th:value="${product.id}"/>

        <label>
            Variant
            <select name="variantId" required style="margin-bottom: var(--wa-space-l);">
                <option
                        th:each="variant : ${product.variants}"
                        th:value="${variant.id}"
                        th:text="|${variant.sku} – ${variant.price}|">
                </option>
            </select>
        </label>

        <label>
            Quantity
            <input
                    type="number"
                    name="quantity"
                    value="1"
                    min="1"
                    required/>
        </label>

        <div style="display: flex; justify-content: flex-end; gap: var(--wa-space-s); margin-top: var(--wa-space-m);">

            <wa-button
                    type="button"
                    variant="neutral"
                    onclick="this.closest('dialog').remove();">
                Cancel
            </wa-button>

            <wa-button type="submit" variant="success">
                Create Sale
            </wa-button>
        </div>
    </form>
</dialog>

<script>
    document.getElementById('create-sale-dialog')?.showModal()
</script>
