<div th:fragment="product-table">

    <!-- No results -->
    <div th:if="${#lists.isEmpty(products)}"
         style="padding: var(--wa-space-xl);
                text-align: center;
                color: var(--wa-color-neutral-50);">

        <wa-icon name="search" style="font-size: 2rem; margin-bottom: var(--wa-space-s);"></wa-icon>

        <p style="margin: 0;">
            No products found matching your search.
        </p>
    </div>

    <table th:if="${!#lists.isEmpty(products)}"
           style="width: 100%; border-collapse: collapse; font-size: var(--wa-font-size-s); ">
        <thead style="position: sticky; top: 0; z-index: 10; background-color: var(--wa-color-neutral-95); box-shadow: inset 0 -1px 0 var(--wa-color-neutral-90);">
        <tr>
            <!-- Title -->
            <th
                    hx-get="/products"
                    hx-target="#product-table"
                    hx-swap="innerHTML"
                    th:hx-vals="|js:{
            sort: 'title',
            dir: '${sort == 'title' && dir == 'asc' ? 'desc' : 'asc'}'
        }|"
                    style="cursor: pointer;">
                Title
                <span style="font-size: var(--wa-font-size-2xs)" th:if="${sort == 'title'}"
                      th:text="${dir == 'asc' ? '▲' : '▼'}"></span>
            </th>

            <!-- Vendor -->
            <th
                    hx-get="/products"
                    hx-target="#product-table"
                    hx-swap="innerHTML"
                    th:hx-vals="|js:{
            sort: 'vendor',
            dir: '${sort == 'vendor' && dir == 'asc' ? 'desc' : 'asc'}'
        }|"
                    style="cursor: pointer;">
                Vendor
                <span style="font-size: var(--wa-font-size-2xs)" th:if="${sort == 'vendor'}"
                      th:text="${dir == 'asc' ? '▲' : '▼'}"></span>
            </th>
            <!-- Type -->
            <th
                    hx-get="/products"
                    hx-target="#product-table"
                    hx-swap="innerHTML"
                    th:hx-vals="|js:{
            sort: 'type',
            dir: '${sort == 'type' && dir == 'asc' ? 'desc' : 'asc'}'
        }|"
                    style="cursor: pointer;">
                Type
                <span style="font-size: var(--wa-font-size-2xs)" th:if="${sort == 'type'}"
                      th:text="${dir == 'asc' ? '▲' : '▼'}"></span>
            </th>
            <th>Variants</th>

            <!-- Created -->
            <th
                    hx-get="/products"
                    hx-target="#product-table"
                    hx-swap="innerHTML"
                    th:hx-vals="|js:{
            sort: 'createdAt',
            dir: '${sort == 'createdAt' && dir == 'asc' ? 'desc' : 'asc'}'
        }|"
                    style="cursor: pointer;">
                Created
                <span style="font-size: var(--wa-font-size-2xs)" th:if="${sort == 'createdAt'}"
                      th:text="${dir == 'asc' ? '▲' : '▼'}"></span>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}"
            style="border-bottom: 1px solid var(--wa-color-neutral-80); transition: background-color 0.2s;"
            onmouseover="this.style.backgroundColor='var(--wa-color-neutral-90)'"
            onmouseout="this.style.backgroundColor='transparent'">

            <td style="padding: var(--wa-space-m); color: var(--wa-color-neutral-30);" th:text="${product.title}">Title
            </td>
            <td style="padding: var(--wa-space-m); color: var(--wa-color-neutral-50);" th:text="${product.vendor}">
                Vendor
            </td>
            <td style="padding: var(--wa-space-m);">
                <wa-badge
                        th:if="${not #strings.isEmpty(product.productType)}"
                        variant="neutral"
                        style="text-transform: capitalize;"
                        th:text="${product.productType}">
                    Type
                </wa-badge>

                <span th:unless="${not #strings.isEmpty(product.productType)}"
                      style="color: var(--wa-color-neutral-50);">
        —
    </span>
            </td>
            <td style="padding: var(--wa-space-m);">
                <ul style="margin: 0; padding-left: 1rem;">
                    <li th:each="variant : ${product.variants}">
                        <span th:text="${variant.sku}">SKU</span>
                        <span th:if="${variant.price != null}">
                        ( <span th:text="${variant.price}"></span> )
                    </span>
                    </li>
                </ul>
            </td>
            <td style="padding: var(--wa-space-m); color: var(--wa-color-neutral-50); font-variant-numeric: tabular-nums;"
                th:text="${#temporals.format(product.createdAt, 'yyyy-MM-dd HH:mm')}">
                Date
            </td>
            <td style="display: flex; align-items: center; justify-content: center; gap: var(--wa-space-m);">
                <wa-button
                        size="small"
                        variant="brand"
                        appearance="filled-outlined"
                        th:hx-get="|/products/${product.id}/edit|"
                        hx-target="#main-content"
                        hx-select="#main-content"
                        th:hx-push-url="true">
                    <wa-icon name="pen-to-square"></wa-icon>
                </wa-button>
                <wa-button
                        size="small"
                        variant="success"
                        appearance="filled-outlined"
                        th:hx-get="|/sales/new?productId=${product.id}|"
                        hx-target="body"
                        hx-swap="beforeend">
                    <wa-icon name="cart-plus"></wa-icon>
                </wa-button>

                <wa-button
                        variant="danger"
                        size="small"
                        appearance="filled-outlined"
                        th:hx-on:click="|document.getElementById('delete-dialog-${product.id}').showModal()|">
                    <wa-icon name="trash"></wa-icon>

                </wa-button>
            </td>
            <dialog th:id="|delete-dialog-${product.id}|" class="card">
                <form
                        method="dialog"
                        style="padding: var(--wa-space-l); min-width: 320px; width: 100%">

                    <h4 style="margin-top: 0;">Delete Product</h4>

                    <p>
                        Are you sure you want to delete
                        <strong th:text="${product.title}"></strong>?
                    </p>

                    <div style="display: flex; justify-content: flex-end; gap: var(--wa-space-s); width: 100%;">

                        <wa-button type="button"
                                   variant="neutral"
                                   onclick="this.closest('dialog').close()">
                            Cancel
                        </wa-button>

                        <wa-button
                                th:type="submit"
                                variant="danger"
                                th:hx-delete="|/products/${product.id}|"
                                hx-target="#product-table"
                                hx-swap="innerHTML"
                        >
                            Delete
                        </wa-button>

                    </div>
                </form>
            </dialog>

        </tr>
        </tbody>
    </table>

</div>